<div class="container min-height-footer">
  <h3 class="devise-header">To receive password-reset instructions,<br /> enter your email below</h3>
  <div class="jumbotron jumbotron-devise">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email, class: "devise-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Send instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="login-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

