<%= form_for (@health_history)  do |f| %>

  <% if @health_history.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>
      <%= pluralize(@health_history.errors.count, "error") %> prohibited
      this health_history from being saved:
    </h2>
    <ol>
      <% @health_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  </div>
  <% end %>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Health History Form</h3>
    </div>
    <div class="panel-body">
      <div class="form-blocks"><legend>Name</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :middle_initial %>
            <%= f.text_field :middle_initial, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Personal Info</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :height %>
            <%= f.text_field :height, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :weight %>
            <%= f.text_field :weight, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :weight, "Gender" %>
            <%= f.select(:gender, options_for_select([['Male'], ['Female']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
          <div class="stacked-inputs">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <%= f.label :date_of_birth, class: "label-top"   %>
              <%= f.date_select :date_of_birth, :order => [:year, :month, :day], :start_year => 1940,
    :end_year => 2013, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :with_css_classes => true, :html=>{:class => "form-control"} %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Contact</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :state, "State" %>
            <%= f.select(:state, us_states, {:prompt => "Select"}, { class: 'form-control'}) %>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :zip %>
            <%= f.text_field :zip, class: "form-control" %>
          </div>
        </div>
        <div class="stacked-inputs row">
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :home_phone %>
            <%= f.text_field :home_phone, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :work_phone %>
            <%= f.text_field :work_phone, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :physician %>
            <%= f.text_field :physician, class: "form-control" %>
          </div>
          <div class="stacked-inputs">
            <div class="form-group col-sm-12 col-md-4 col-lg-4">
              <%= f.label :referred_by %>
              <%= f.text_field :referred_by, class: "form-control" %>
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-4">
              <%= f.label :emergency_contact_name %>
              <%= f.text_field :emergency_contact_name, class: "form-control" %>
            </div>
             <div class="form-group col-sm-12 col-md-4 col-lg-4">
              <%= f.label :emergency_contact_phone %>
              <%= f.text_field :emergency_contact_phone, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-blocks" id="complaints-form"><legend>Complaints</legend>
        <%= f.fields_for :complaints do |complaint| %>
          <%= render 'complaint_fields', :f => complaint %>
        <% end %>
        <%= link_to_add_association 'Add Another Complaint', f, :complaints, :data => {"association-insertion-method" => "after" }, class: "btn btn-success btn-xs"%>
      </div>
      <div class="form-blocks" id="surgeries-form"><legend>Surgeries</legend>
        <%= f.fields_for :surgeries do |surgery| %>
          <%= render 'surgery_fields', :f => surgery %>
        <% end %>
        <%= link_to_add_association 'Add Another Surgery', f, :surgeries, :data => {"association-insertion-method" => "after" }, class: "btn btn-success btn-xs"%>
      </div>
      <div class="form-blocks" id="hospitalizations-form"><legend>Hospitalizations</legend>
        <%= f.fields_for :hospitalizations do |hospitalization| %>
          <%= render 'hospitalization_fields', :f => hospitalization %>
        <% end %>
        <%= link_to_add_association 'Add Another Hospitalization', f, :hospitalizations, :data => {"association-insertion-method" => "after" }, class: "btn btn-success btn-xs"%>
      </div>
      <div class="form-blocks" id="medications-form"><legend>Medications <span class="legend-subtext">(Vitamins, herbs, inhalers, prescribed drugs)</span></legend>
        <%= f.fields_for :medications do |medication| %>
          <%= render 'medication_fields', :f => medication %>
        <% end %>
        <%= link_to_add_association 'Add Another Medication', f, :medications, :data => {"association-insertion-method" => "after" }, class: "btn btn-success btn-xs"%>
      </div>
      <div class="form-blocks" id="allergies-form"><legend>Allergies</legend>
        <%= f.fields_for :allergies do |allergy| %>
          <%= render 'allergy_fields', :f => allergy %>
        <% end %>
        <%= link_to_add_association 'Add Another Allergy', f, :allergies, :data => {"association-insertion-method" => "after" }, class: "btn btn-success btn-xs"%>
      </div>
      <div class="form-blocks"><legend>Lifestyle</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :exercise_frequency %>
            <%= f.text_field :exercise_frequency, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <%= f.label :exercise_type %>
            <%= f.text_field :exercise_type, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Diet</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <%= f.label :breakfast %>
            <%= f.text_field :breakfast, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <%= f.label :lunch %>
            <%= f.text_field :lunch, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="stacked-inputs">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <%= f.label :dinner %>
              <%= f.text_field :dinner, class: "form-control" %>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <%= f.label :snack %>
              <%= f.text_field :snack, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Caffeine</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :drink_coffee, "Drink coffee?" %>
            <%= f.select(:drink_coffee, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :drink_tea, "Drink tea?" %>
            <%= f.select(:drink_tea, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :drink_cola, "Drink cola?" %>
            <%= f.select(:drink_cola, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>

          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :drink_other_caffeine, "Other Caffeine?" %>
            <%= f.select(:drink_other_caffeine, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
          <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <%= f.label :caffeine_cups, "Cups per Day:" %>
            <%= f.select(:caffeine_cups, options_for_select(0...11), {:prompt => "Cups per Day" }, { class: 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Alcohol</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :alcohol_consumption, "Drink Alcohol?" %>
            <%= f.select(:alcohol_consumption, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :alcohol_type %>
            <%= f.text_field :alcohol_type, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :drinks_per_week, "Drinks per Week" %>
            <%= f.select(:drinks_per_week, options_for_select(0...36), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :alcohol_abuse, "Drinking a concern?" %>
            <%= f.select(:alcohol_abuse, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Smoking</legend>
        <div class="row">
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :smoking_habit, "Do you smoke?" %>
            <%= f.select(:smoking_habit, options_for_select([['Yes'], ['No']]), {:prompt => "Select"}, { class: 'form-control' })%>
          </div>
           <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :smoking_substance %>
            <%= f.text_field :smoking_substance, class: "form-control" %>
          </div>
          <div class="stacked-inputs">
            <div class="form-group col-sm-12 col-md-3 col-lg-3">
              <%= f.label :years_smoker, "Years a smoker" %>
              <%= f.text_field :years_smoker, class: "form-control" %>
            </div>
            <div class="form-group col-sm-12 col-md-3 col-lg-3">
              <%= f.label :year_quit %>
              <%= f.select(:year_quit, options_for_select(1950...Date.current.year), {:prompt => "What year did you quit?"}, { class: 'form-control' }) %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-blocks"><legend>Personal Disease History <span class="legend-subtext">(Please include dates. Type "none" if not applicable.)</span></legend>
        <%= f.fields_for :personal_disease_history do |personal_disease| %>
          <div class="form-group disease-nested">
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :heart_disease%>
                <%= personal_disease.text_field :heart_disease, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :cancer%>
                <%= personal_disease.text_field :cancer, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :diabetes%>
                <%= personal_disease.text_field :diabetes, class: "form-control" %>
              </div>
            </div>
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :hypertension%>
                <%= personal_disease.text_field :hypertension, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :thyroid_disorder%>
                <%= personal_disease.text_field :thyroid_disorder, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :hepatitis%>
                <%= personal_disease.text_field :hepatitis, class: "form-control" %>
              </div>
            </div>
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :asthma_allergies%>
                <%= personal_disease.text_field :asthma_allergies, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :seizures%>
                <%= personal_disease.text_field :seizures, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :stroke%>
                <%= personal_disease.text_field :stroke, class: "form-control" %>
              </div>
            </div>
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :neurological_disorders%>
                <%= personal_disease.text_field :neurological_disorders, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :substance_abuse%>
                <%= personal_disease.text_field :substance_abuse, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= personal_disease.label :other%>
                <%= personal_disease.text_field :other, class: "form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="form-blocks"><legend>Family Disease History <span class="legend-subtext">(Please include dates. Type "none" if not applicable.)</span></legend>
        <%= f.fields_for :family_disease_history do |family_disease| %>
          <div class="form-group disease-nested">
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :heart_disease%>
                <%= family_disease.text_field :heart_disease, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :cancer%>
                <%= family_disease.text_field :cancer, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :diabetes%>
                <%= family_disease.text_field :diabetes, class: "form-control" %>
              </div>
            </div>
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :hypertension%>
                <%= family_disease.text_field :hypertension, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :thyroid_disorder%>
                <%= family_disease.text_field :thyroid_disorder, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :hepatitis%>
                <%= family_disease.text_field :hepatitis, class: "form-control" %>
              </div>
            </div>
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :asthma_allergies%>
                <%= family_disease.text_field :asthma_allergies, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :seizures%>
                <%= family_disease.text_field :seizures, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :stroke%>
                <%= family_disease.text_field :stroke, class: "form-control" %>
              </div>
            </div>
            <div class="stacked-inputs row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :neurological_disorders%>
                <%= family_disease.text_field :neurological_disorders, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :substance_abuse%>
                <%= family_disease.text_field :substance_abuse, class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= family_disease.label :other%>
                <%= family_disease.text_field :other, class: "form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  </div>
  <div class="remove-nested button-center">
    <%= f.submit @health_history.new_record? ? "Submit" : "Update", class: "btn btn-primary"%>
  </div>
<% end %>
