<h1>Update Health History Information</h1>

<%= form_for :health_history, url: health_history_path(@health_history), method: :patch do |f| %>

   <% if @health_history.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@health_history.errors.count, "error") %> prohibited
        this health history from being updated:
      </h2>
      <ul>
        <% @health_history.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name%>
  </p>

  <p>
    <%= f.label :middle_initial %><br>
    <%= f.text_field :middle_initial %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>

  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth %>
  </p>

  <p>
    <%= f.label :height %><br>
    <%= f.text_field:height %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :home_phone %><br>
    <%= f.text_field :home_phone %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
